In [1]:
# Import necessary libraries and modules
import os
import sys
import pandas as pd
import numpy as np

sys.path.insert(0, os.path.dirname(os.getcwd()))
from scripts.statisticalModel import InsuranceModeling

# Suppress FutureWarnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
#Reading the txt file MachineLearningRating_v3.txt
data_path = '../data/MachineLearningRating_v3.txt'
df=pd.read_csv(data_path, delimiter='|')

df.head()

C:\Users\Coop\AppData\Local\Temp\ipykernel_10172\633644885.py:3: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(data_path, delimiter='|')

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [3]:
# df['VehicleIntroDate'] = pd.to_datetime(df['VehicleIntroDate'], errors='coerce')
# df['TransactionMonth'] =pd.to_datetime(df['TransactionMonth'], errors='coerce')
# df['RegistrationYear'] = df['RegistrationYear'].astype(int)

In [4]:
iml = InsuranceModeling(df)

In [5]:
data = iml.wrangle_data()

In [6]:
data.columns

Index(['TransactionMonth', 'IsVATRegistered', 'Citizenship', 'LegalType',
       'Title', 'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Province',
       'PostalCode', 'VehicleType', 'RegistrationYear', 'make', 'Model',
       'Cylinders', 'cubiccapacity', 'kilowatts', 'NumberOfDoors',
       'VehicleIntroDate', 'CapitalOutstanding', 'SumInsured',
       'CalculatedPremiumPerTerm', 'CoverGroup', 'Section', 'Product',
       'TotalPremium', 'TotalClaims'],
      dtype='object')

In [7]:
iml.feature_engineering()

,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Bank,AccountType,MaritalStatus,Gender,Province,...,Product,TotalPremium,TotalClaims,VehicleAge,PremiumPerUnitSumInsured,ClaimToPremiumRatio,VehiclePowerToWeightRatio,TransactionYear,TransactionMonthName,TransactionQuarter
393216,2015-05-01,False,,Individual,Mr,First National Bank,Current account,Not specified,Not specified,Western Cape,...,Mobility Commercial Cover: Monthly,253.449737,0.0,11,0.000507,0.0,0.030072,2015,May,2
393217,2014-10-01,False,,Individual,Mr,Nedbank,Current account,Not specified,Not specified,Gauteng,...,Mobility Commercial Cover: Monthly,0.000000,0.0,13,0.000000,0.0,0.042500,2014,October,4
393218,2015-07-01,False,,Individual,Mr,First National Bank,Current account,Not specified,Not specified,Western Cape,...,Mobility Commercial Cover: Monthly,253.449737,0.0,11,0.000507,0.0,0.030072,2015,July,3
393219,2014-12-01,False,,Individual,Mr,Nedbank,Current account,Not specified,Not specified,Gauteng,...,Mobility Commercial Cover: Monthly,0.000000,0.0,13,0.000000,0.0,0.042500,2014,December,4
393220,2015-07-01,False,,Individual,Mr,First National Bank,Current account,Not specified,Not specified,Western Cape,...,Mobility Commercial Cover: Monthly,0.000000,0.0,11,0.000000,0.0,0.030072,2015,July,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983035,2015-07-01,False,ZA,Individual,Ms,ABSA Bank,Current account,Not specified,Not specified,KwaZulu-Natal,...,Mobility Commercial Cover: Monthly,0.237598,0.0,9,0.000032,0.0,0.030072,2015,July,3
983036,2014-11-01,False,ZA,Individual,Mr,Nedbank,Savings account,Not specified,Male,Gauteng,...,Mobility Commercial Cover: Monthly,0.000000,0.0,12,0.000000,0.0,0.030072,2014,November,4
983037,2014-07-01,False,ZA,Individual,Mr,ABSA Bank,Savings account,Not specified,Not specified,Western Cape,...,Mobility Commercial Cover: Monthly,4.300789,0.0,14,0.000573,0.0,0.041203,2014,July,3
983038,2015-02-01,False,ZA,Individual,Mr,ABSA Bank,Savings account,Not specified,Not specified,Western Cape,...,Mobility Commercial Cover: Monthly,4.300789,0.0,14,0.000573,0.0,0.041203,2015,February,1
983039,2015-01-01,False,ZA,Individual,Mr,Nedbank,Savings account,Not specified,Male,Gauteng,...,Mobility Commercial Cover: Monthly,0.000000,0.0,12,0.000000,0.0,0.030072,2015,January,1